.card__content--image img {
    border-radius: 100px;
    width: 200px;
    height: 200px;

}

.card__content--image{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


.pet-name{

    display: flex;
    justify-content: center;
}

.delete-buttons{

    display: flex;
    justify-content: center;
}

.back-button{

    padding: 5px;
    border-radius: 10px;
}

#pet-card-holder{
    background-color: white;
    width: 600px;
    margin-left: 650px;
    border-radius: 15px;
    padding: 25px;
}