.user-container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
   border-radius: 10px;
   margin-bottom: 65px;
    width: 350px;
    background-color: white;
}


.userSearch{

    border-radius: 10px;
    
}

.userlist{
    
    padding: 8px;
    overflow-y: scroll;
    border-radius: 10px;
    background-color: #e0dce5;
    height: 130px;
    width: 350px;
}

