.task-card  {
    
    width: 100%;
    background-color: rgb(164, 80, 241);
    color: white;
    padding: 1em;
    
}

.card-holder{

   border-radius: 10px;
    margin-top: 100px;
   
    height: 200px;
    padding-bottom: 25px;
}

.container-cards{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    margin: 100px;
    padding: 50px;
    border-radius: 20px;
}
.button-7{
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    background-color: white;
}

.card-info{
    border-radius: 15px;
    border: solid rgb(164, 80, 241);
    background-color: white;
    padding: 30px;
    text-align: center; 
    width: 200px;
    
    
}

.cardHolderHeader{

    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.complete{

    border-radius: 25px;
    margin-left: 5px;
}

.dashboard{

    background-color: blueviolet ;
}

.button-delete{
    margin-top: 10px;
    border-radius: 8px;
    background-color: blueviolet;
    color: white;
}
