
.dialog {
    min-width: 15rem;
    min-height: 5rem;
    
  }
  
  .container--login{
   
    text-align: center;
    margin-top: 300px;
    margin-left: 700px;
    color: #2b0855;
    width: 500px;
    border-radius: 10px;
  }
  
  .link--register {
   margin-left: 173px;
    margin-top: 20px;
    
    width: 150px;
    border-radius: 10px;
  }
    
 a {
   color: white;
 }